body {
  background-image: url("../images/avengeBG.jpg");
  background-repeat: repeat;
}

.avengeHead {
  margin: 0 0 10px 0;
}

h1 {
  color: red;
  font-family: 'Bungee Inline', cursive;
  font-size: 50px;
  padding: 20px;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'Verela Round', sans-serif;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.avengePage {
  margin: 0 0 20px 20px;
}

#avengers {
  margin-right: 2px;
  background: red;
  color: blue;
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

#gifButtons {
  background: red;
  color: blue;
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

label, p {
  font-family: 'Verela Round', sans-serif
font-size: 18px;
}

.avengeForm {
  float: right;
  clear: both;
  width: 30%;
  margin: 30px 20px;
  color: white;
}

input {
  margin: 5px 20px 5px 0;
  width: 100%;
}

#avengeGifs {
  clear: both;
  display: inline;
  flex-wrap: wrap;
}

.avengerGiphy {
  padding: 2px;
  width: 80%;
}